.app {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 3em;
  }

  p {
    margin: 0;
  }

  table {
    text-align: left;
    width: 80%;
  }

  th,
  td {
    padding: 0.7em 0.5em;
  }

  tr:nth-child(even) {
    background-color: #dddffa;
  }
}
