@import './mixins';
@import './variables';

.create-reservation-drawer {
  .ant-drawer-header {
    padding-bottom: 0.5em;
  }

  .drawer-header-message {
    margin-bottom: 1.5em;
    color: map-get($colors, 'text-muted');

    p {
      margin-bottom: 0.5em;
    }

    span {
      @include font-fallback('Gotham-Medium');
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }
}
