@import './mixins';

.edit-item-drawer {
  // Need important here because ant uses inline styles that have
  // high specificity
  .ant-drawer-content-wrapper {
    width: 600px !important;

    @media screen and (max-width: 600px) {
      width: 100% !important;
    }
  }

  .form-actions {
    display: flex;
    margin-top: 3em;
  }

  .form-action-button {
    @include font-fallback('Gotham-Medium');
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
