@import './mixins';

.edit-item-drawer {
  .ant-drawer-body {
    padding-bottom: 0;
  }

  .form-actions {
    display: flex;
    margin-top: 3em;
    position: sticky;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    padding-bottom: 16px;
    padding-top: 24px;
  }

  .form-action-button {
    @include font-fallback('Gotham-Medium');
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
