@import './mixins';
@import './_variables.scss';

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../assets/fonts/Gotham-Bold.woff');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../assets/fonts/Gotham-Book.woff');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../assets/fonts/Gotham-Medium.woff');
}

body {
  @include font-fallback('Gotham-Book');
  color: hsl(0deg, 0%, 30%);
  background-color: $body-color;
  margin: 0;
}

h1 {
  @include font-fallback('Gotham-Bold');
}

b,
h2 {
  @include font-fallback('Gotham-Medium');
}

a {
  color: map-get($colors, 'monochromatic-2');

  &:hover {
    color: map-get($colors, 'monochromatic-3');
  }
}

mark {
  background-color: #ffc069;
  padding: 0;
}

// Increase font size size of ant's inputs and other intractable components
// on mobile to prevent the device from zooming into the field by default
input,
.ant-select-selection-item,
.ant-select-selection-item,
.ant-radio-button-wrapper {
  @media screen and (max-width: 500px) {
    font-size: 16px !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 50%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 40%);
}
