@import './mixins';
@import './_variables.scss';

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../assets/fonts/Gotham-Bold.ttf');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../assets/fonts/Gotham-Book.ttf');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../assets/fonts/Gotham-Medium.ttf');
}

body {
  @include font-fallback('Gotham-Book');
  color: hsl(0deg, 0%, 30%);
  background-color: $body-color;
  margin: 0;
}

h1 {
  @include font-fallback('Gotham-Bold');
}

a {
  color: map-get($colors, 'monochromatic-2');

  &:hover {
    color: map-get($colors, 'monochromatic-3');
  }
}
