@import './mixins';

.inventory-item-modal {
  // Need important here because ant uses inline styles that have
  // high specificity
  width: 600px !important;

  .form-actions {
    display: flex;
    margin-top: 3em;
  }
  .form-action-button {
    @include font-fallback('Gotham-Medium');
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
