.item-card {
  display: flex;
  box-shadow: 0px 6px 57px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 2em 1.5em;
  justify-content: center;
  max-width: 350px;
  outline: 1px solid hsl(0, 0%, 90%);

  .ant-card-body {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
  }

  .item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  p.item-status {
    margin-bottom: 0.5em;
  }

  span.item-status {
    display: inline-flex;
    align-items: center;
    margin-left: 0.25em;

    svg {
      margin-left: 4px;
    }
  }

  .item-status-available {
    color: hsla(94, 100%, 27%, 1);
  }

  .item-status-unavailable {
    color: hsla(4, 94%, 45%, 1);
  }

  .item-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 1.5em;
    color: hsl(0deg, 0%, 40%);

    // prettier-ignore
    @supports (display: -webkit-box) and (-webkit-line-clamp: 2) and (-webkit-box-orient: vertical) {
      white-space: normal;
      display: -webkit-box;
      flex: 1;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .item-image {
    object-fit: cover;
    border-radius: 6px;
  }

  .reserve-button {
    width: 100%;
  }

  h2 {
    margin-top: 1em;
  }
}
