@import './variables';
@import './mixins';

.item-availability-modal {
  $breakpoint: 800px;

  width: 80% !important;

  @media screen and (max-width: $breakpoint) {
    width: 100% !important;
  }

  &:not(.calendar-month-view) .rbc-event {
    cursor: default !important;
  }

  .ant-modal-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    height: 85vh;
    max-height: unset;
    border-radius: 0 0 6px 6px;
  }

  .ant-modal-header {
    @media screen and (max-width: $breakpoint) {
      padding-bottom: 0;
    }
  }

  .ant-modal-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
  }

  .rbc-event {
    background-color: #791c2a;
  }

  .loading-spinner {
    height: 90%;
    display: flex;
    justify-content: center;
  }

  .availability-load-error {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      font-size: 1.2em;
    }
  }
}
