@import './variables';

.loading-spinner {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .loading-message {
    margin-top: 2em;
    color: map-get($colors, 'text-muted');
  }

  &.ant-spin-dot {
    width: unset;
    height: unset;
  }

  .loading-icon {
    animation: spin 1s forwards linear infinite;
    color: map-get($colors, 'monochromatic-3');
  }
}
