@import './variables';

.loading-spinner {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .loading-icon {
    animation: spin 1s forwards linear infinite;
    color: map-get($colors, 'monochromatic-3');
  }
}
