@import './variables';

.my-reservations {
  $breakpoint: 1000px;
  padding-bottom: 2em;

  .page-title {
    margin: 1em auto 0 auto;
    width: 87%;

    h2 {
      font-size: 1.7em;
    }

    p {
      font-size: 1.1em;
      color: map-get($colors, 'text-muted');
    }
  }

  .reservations-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1em auto;

    & > h2 {
      font-size: 1.7em;
      margin: 1em 0 0 1em;
      z-index: 1;
    }

    @media screen and (max-width: $breakpoint) {
      display: block;
      width: 100%;

      & > h2 {
        width: 80%;
        margin: 1em auto 0 auto;
      }
    }
  }

  .center-wrapper {
    display: flex;
    justify-content: center;
  }

  .reservations {
    display: flex;

    &::after {
      content: '';
      flex: 0 0 32px;
    }
  }
}
