@import './variables';
@import './mixins';

.navbar {
  background-color: $body-color;
  z-index: 10;

  &.navbar--sticky {
    position: sticky;
    top: 0;
  }

  .ant-avatar-square {
    background-color: transparent;

    @media screen and (max-width: 420px) {
      display: none;
    }
  }

  .ant-avatar > img {
    object-fit: contain;
  }

  .ant-page-header-heading-title {
    @include font-fallback('Gotham-Bold');
    font-size: 2em;

    a {
      color: unset;
    }

    @media screen and (max-width: 600px) {
      font-size: 1.5em;
    }
  }

  .ant-page-header-heading-sub-title {
    @include font-fallback('Gotham-Medium');
    color: map-get($colors, 'text-muted');
  }

  .ant-page-header-heading-extra {
    display: flex;
    align-items: center;
  }

  .nav-link {
    @include font-fallback('Gotham-Medium');
    color: map-get($colors, 'text-muted');
    margin-left: 1em;
    margin-right: 1em;

    &.nav-link--active,
    &:hover {
      color: map-get($colors, 'monochromatic-2');
    }

    @media screen and (max-width: $navbar-link-breakpoint) {
      display: none;
    }
  }
}
