@import './variables';
@import './mixins';

.navbar {
  background-color: $body-color;
  z-index: 2;

  .ant-page-header-heading-title {
    @include font-fallback('Gotham-Bold');
    font-size: 2em;

    a {
      color: unset;
    }

    @media screen and (max-width: 600px) {
      font-size: 1.5em;
    }
  }

  .ant-page-header-heading-sub-title {
    @include font-fallback('Gotham-Medium');
    color: map-get($colors, 'text-muted');
  }
}
