@import './variables';
@import './mixins';

.reservation-calendar {
  .loading-spinner {
    margin-top: 30vh;
  }

  .reservation-load-error {
    margin-top: 26vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      font-size: 1.2em;
    }
  }

  .actions {
    z-index: 10;
    right: 1em;
    position: absolute;
    bottom: 1em;
    display: flex;
    gap: 16px;
  }

  .action {
    width: 48px;
    height: 48px;
    border-radius: 50% !important;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .calendar {
    background-color: $body-color;
  }
}
