@import './variables';
@import './mixins';

.reservation-form {
  margin-bottom: 1.5em;

  .ant-picker-calendar-mini {
    border: 1px solid rgb(217, 217, 217);
    border-radius: 6px;

    & .ant-picker-panel {
      border-radius: 0 0 6px 6px;
    }
  }

  .ant-picker {
    margin-bottom: 1.5em;
  }

  // Changes the color of the line between the month/year
  // radio buttons in the calendar's header
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):before {
    background-color: map-get($colors, 'monochromatic-2');
  }

  // Changes the border color of the selected radio buttons in the calendar's header
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child,
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: map-get($colors, 'monochromatic-2');
  }

  // Changes the text color of the selected radio button in the calendar's header
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: map-get($colors, 'monochromatic-2');
  }

  .ant-radio-button-wrapper:hover {
    color: map-get($colors, 'monochromatic-3');
  }

  // Removes the box shadow of the active radio button in the calendar's header
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: none;
  }

  .ant-picker-cell {
    padding: 8px 0;
    transition: background 0.3s, border 0.3s;

    &::before {
      height: 100%;
    }

    &:not(.ant-picker-cell-selected):hover {
      background: rgb(245, 245, 245) !important;

      .ant-picker-cell-inner {
        background: inherit !important;
      }
    }
  }

  .ant-picker-cell-selected {
    background-color: map-get($colors, 'monochromatic-2');
  }

  // Removes the border from the inner date cell
  .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
    border: none;
  }

  .ant-picker-cell-today::before {
    content: '';
    border: 1px solid map-get($colors, 'monochromatic-2');
  }

  .ant-picker-cell-inner {
    height: unset;
  }

  .ant-picker-cell-inner.ant-picker-calendar-date {
    padding: 8px;
  }

  .ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector {
    display: table;
  }

  .ant-select-selection-item,
  .ant-radio-button-wrapper {
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
    display: table-cell;
  }

  @media screen and (max-width: 480px) {
    .ant-picker-calendar-month-select,
    .ant-picker-calendar-year-select {
      flex: 1;
    }

    .ant-picker-calendar-mini .ant-picker-calendar-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .ant-picker-calendar-mode-switch {
      display: table;
      margin-top: 16px;
    }
  }

  .ant-form-item-label > label {
    font-size: 1.2em;
  }

  .ant-form-item-control-input-content > p {
    color: map-get($colors, 'text-muted');
  }

  .ant-form-item {
    margin-bottom: 1.5em;
  }

  // Resets the color of the calendars header buttons when the form has an error
  // prettier-ignore
  .ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector,
  .ant-form-item-has-error .ant-radio-button-wrapper {
    border-color: rgb(217, 217, 217) !important;
  }

  .form-submit-button {
    width: 100%;
  }
}
